section.three
  .container
    .three-testimonial
      .testimonial-text-box
        p Dansé hideux subi c'est regretter rythmes cloués voiliers lointains enlever démarrées. Aux mers colombes yeux porteur planche fermenter. Des des des fleurs tendus criards écumes florides. Lumineux mon et doux.
        i.icon.ion-md-quote
      .testimonial-customer
        img(src="https://picsum.photos/400")
        h1 Tristin Sanford