section.one
  .container
    .one-main-message
      h3 Your favourite
      h1 Website
      p Accusam stet vero dolore erat labore voluptua lorem, ea elitr est lorem sit ipsum ipsum takimata eos stet. Labore dolores ipsum dolores sed sed, erat duo nonumy kasd kasd nonumy lorem sea sadipscing voluptua, rebum dolores lorem amet sanctus eirmod.
      .cta
        a.btn(href="#") Visit
