section.two
  .container
    .title-heading
      h3 Good looking
      h1 Headers and paragraphs
      p 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum '

    .two-grid
      // grid item #1
      .two-grid-item.card-1
        i.icon.ion-md-star
        h1 Stardom
        p Sed diam rebum eos et diam lorem sit ipsum et elitr. Accusam rebum gubergren nonumy et dolor labore dolore sed justo. Amet dolor ut accusam vero eos at amet diam.
      // grid item #2
      .two-grid-item.card-2
        i.icon.ion-md-compass
        h1 Find a way
        p Aliquyam justo et dolore amet ut amet dolore et. At kasd sadipscing sea vero et diam. Gubergren diam no duo at et at est, est sanctus sit clita vero sea.
        // grid item #3
      .two-grid-item.card-3
        i.icon.ion-md-bonfire
        h1 Guiding light
        p Lorem lorem takimata duo labore dolore invidunt et. Rebum ea duo eirmod ipsum diam sed et ipsum tempor, dolores sit sed ipsum accusam sed, diam dolor et est invidunt invidunt.