section.four
  .container
    .title-heading
      h3 Final Section
      h1 Heading
      p 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum '
    .four-grid
      .two-grid-item.card-1
        i.icon.ion-md-cloudy-night
        h1 Site seeing
        p Tempor ipsum sanctus sed diam duo accusam kasd nonumy aliquyam, voluptua no lorem vero duo tempor dolore, diam aliquyam duo magna et. Ipsum dolore duo dolore sit lorem accusam eirmod.
      // grid item #2
      .two-grid-item.card-2
        i.icon.ion-md-planet
        h1 General meaning
        p Magna voluptua dolor eirmod et no sadipscing ea clita rebum clita. Sed labore sea stet ipsum, lorem labore sadipscing clita diam sanctus kasd sit. Ipsum accusam invidunt gubergren dolor, et.
        // grid item #3
      .two-grid-item.card-3
        i.icon.ion-md-sunny
        h1 Skywalking on sunshine
        p Dolore sed no lorem dolor eos erat, ipsum amet eirmod et aliquyam. Kasd dolore takimata dolor no lorem vero diam. Accusam stet dolor sed justo accusam dolores kasd. Vero sed.


    a.btn(href="#") Order Now