/* Vars:
========================================================================== */
$mainFont = 'Nunito', sans-serif
$accentFont = 'Aldrich', sans-serif
// Size
$mainFontColor = #fafafa
$darkFontColor = #000000b2
$mainFontSize = 10px
$mainFontWeight = 400
$mainLineHeight = 1.4
$desktopWidth = 1280px
$smDesktopWidth = 1024px
$tableWidth = 768px
$smTableWidth = 640px
$phoneWidth = 480px
$smPhoneWidth = 320px
// Colors
$decor-color = #eb648c
$effect-color = #ce587b
$background-color = #d7d4ed
$gradient-color-dark = rgba(49, 24, 131, 0.9)
$gradient-color-light = rgba(72, 56, 149, 0.8)
// Border Color
$border-base = #ffffff33
