extends layout/main

block variables
  - var title = "Index Page Title";
  - var description = "Project description";
  - var pageClass = "index-page";

block content
  include ./includes/section1
  include ./includes/section2
  include ./includes/section3
  include ./includes/section4
